<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FipeOfertas.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C902A41C1DE9F15A00566F39</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C91635071DE9CDA0006B3B8E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C934C1171DF2F27C00427E20</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C934C1251DF2F28500427E20</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EBBC40F91DE0E2350028D589</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
